<a href="https://colab.research.google.com/github/hz316/Github/blob/main/Copy_of_Copy_of_Copy_of_Excode_Lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# ExCode Python 1



**ExCode is run by X-AI and Entrepeneurs Society**

---
[X-AI Facebook](https://www.facebook.com/exeAI)

[X-AI Sign-Up](https://fixr.co/organiser/83306494)

---

[Entrepeneurs Society Facebook](https://www.facebook.com/ExeterEntrepreneurs)


[Entrepeneurs Society Sign-Up](https://www.exeterguild.org/societies/exeterentrepreneurs/)

---

**Overview**

* What is programming and why Python?
* Outputting to screen
* Variables
* Manipulating variables
* Casting Variables
* Making your own programs

# What is programming and why Python?

**Wikipedia Definition:** *Computer programming is the process of designing and building executable programs to accomplish a specific computing result.*


**More Simply:** *Computer programming is giving instructions to a computer in order to complete a task.*

**Why Python?:** 
* Python is extremely flexible.
* Python is very employable.
* It's extremely accessible to new programmers.

**How Python Works:**
1.   The interpreter checks the code line by line for errors, if it encounters an error it halts.
2.   If there are no errors the interpretater translates python into a byte language. 
3.   The byte code is then executed on a virtual machine and the program is run.

# Outputting to Screen

Programming languages follow a set of rules that tell us how code must be written in order for the computer to understand us. This is the **syntax** of a programming language. The **syntax** must be followed perfectly for a program to execute.

For Example:

In [ ]:
print("This should be printed onto the screen.")
print("This should be printed on line 2. \nAnd this on line 3.")  #Use \n to start a new line.
# Anything on a line following a hashtag is a comment and will not be run by the interpreter

# Variables

Variables are simply containers that hold data values. These containers can be accessed to interact with the values within.

Variables must be one word and cannnot use keywords such as **print**. You can use  **_**  underscore in variable names instead of spaces.

In [ ]:
university_name = "Exeter"  #Creating a variable

print("I attend " + university_name + " University")  #Putting a variable inside a print statement

university_name = "Bath"   #Editing a variable

print("I changed my university to " + university_name + " University" )

**There are different types of variables that hold different types of data.**

**Integers** are whole numbers e.g. 42, 10, 5

**Floats** are numbers with a decimal point e.g 5.45, 1.25, 10.0

**Boolean** values are either true or false e.g. False, True

**String** values are lines of text e.g. "This is a string"

In [ ]:
no_students = 37              #Integer variable
percentage = 0.56424          #Float variable
answer = False                #Boolean variable
another_answer = True         #Boolean variable
greeting = "Good Evening"     #String Variable

print("The integer value:", no_students)
print("The float value:", percentage)
print("The false boolean value:", answer)
print("The true boolean value:", another_answer)
print("The string value: " + greeting)    #Note how printing floats and any other variable types differ

# Manipulating Variables

All variable types can be manipulated in some way or another using operators or mathematical symbols.

In [ ]:
first_no = 52 + 3               #Addition
second_no = first_no * 2        #Multiplication
third_no = second_no / 4        #Division

first_word = "Hello "
second_word = "World!"
sentence = first_word + second_word     #Addition of strings

fourth = 55.5
fourth = fourth - 2             #It is possible to use operators on existing variables.

fifth = (55 + 56.7 + 76.5 + 88) / 5   #Multiple operators can be used at once.

print("first_no =", first_no)
print("second_no =", second_no)
print("third_no =", third_no)
print("sentence =", sentence)
print("fourth =", fourth)
print("fifth =", fifth)

# Casting

Sometimes you will want variables of different types to interact with one another. You can **cast** a variable from one type to another to help them interact.

In [ ]:
int_example = int(8.65)     #This casts from a float to an integer, it round down, i.e. this equals 8
float_example = float(56)   #This casts to a float
string_example = str(8.65)  #This casts to a string

final_example = int(8.65 + 6.56 + float("6.56"))  #You can cast multiple things

# Build your own Progams

Now to write your own programs. Below each question there will be a box in which to write your Python code. Once you have created the program, click the play button at the top left of the box to run it.

1.) 

Print out the sentence "**This is how I print something on the screen**".

In [ ]:
print("This is how I print something on the screen")

This is how I print something on the screen

2.)

Create a variable called **university_name** and give it the value **"Exeter"** as a **string** type.

Create a variable called **age** where you put your age as an **integer** type. 

Now print out a short sentence about yourself with these two variables inside. (Remember that **string** and **integer** types are printed slightly differently)

In [ ]:
university_name = "Exeter"
age = 90
print(university_name, "is", age, "years old")

Exeter is 90 years old

3.)

Create a variable called **number_a** which should be an **integer** and hold the number 16.

Create another variable called **number_b** which should be an **integer** and hold the number 4.

Multiply these two variables and assign the result to a variable called **number_c**. 

Print out **number_c**.

In [ ]:

number_a = 16
number_b = 4
number_c = number_a * number_b
print(number_c)

64

4.)

Create a variable called **name** that holds your name as a **string**.

Create a variable called **height** which holds your height in centimetres as an **integer**. 

Finally, create a variable called **height_inch**, it should be created using **height** and should hold your height in inches (2.54 centimetres is 1 inch).

Print out the following sentence as a description of yourself, using the variables you have created:

*My name is* **name**. *My height is* **height** *cm and my height in inches is* **height_inch**.

In [ ]:

name = "Holly"
height = 160
height_inch = height/2.54
print ("My name is", name, "My height is", height, "cm", "and my height in inches is", height_inch)

My name is Holly My height is 160 cm and my height in inches is 62.99212598425197


5.) 

Create a variable to hold a **float** with the value **3.56**.

Create a **string** variable to hold the value **"2"**.

Print out the **float** result of multiplying these two variables. (Remember you will have to cast the string to a float)

Now print out the **integer** result of multiplying these two variables.

In [ ]:

float_example = 3.56
string_example = "2"
result = float_example * float(string_example)
print (result)
print (int(result))
print (float_example)

7.12
7
3.56

6.) 

In the code below there are 5 premade variables. 

Find the average of all of these variables and assign it to a new variable called **val_average**.

Print this average out.

In [ ]:
val_I = "65.7"  #Casting might come in useful in this question.
val_II = 2
val_III = 43.2
val_IV = "23"
val_V = 0.0


print((float(val_I) + val_II + val_III + float(val_IV) + val_V)/5)

26.78

7.)

You buy a sofa and an armchair, their prices are given as variables. These prices do not inlude the 20% VAT.

You pay for these pieces of furniture over 12 months. 

Find the total amount of money you must pay each month, including VAT.

In [ ]:
sofa_price = "650.00"       #Casting is also a good idea in this question.
armchair_price = "250.00"

print ((float(sofa_price) * 1.2 + float(armchair_price)*1.2)/12)

90.0

**ExCode is run by X-AI and Entrepeneurs Society**

---
[X-AI Facebook](https://www.facebook.com/exeAI)

[X-AI Sign Up](https://fixr.co/organiser/83306494)

---
[Entrepeneurs Society Facebook](https://www.facebook.com/ExeterEntrepreneurs)

[Entrepeneurs Society Guild Page](https://www.exeterguild.org/societies/exeterentrepreneurs/)

---